
<div class="container">
  <h2>Question</h2>

      <%@questions.each do |question| %>
         <p><%=question.question%></p>
      <% end %>

   <form id="question" method="post" action=<%="/survey/#{@survey.id}/question/new" %>>
      <input type="text" name="question" placeholder="Question">
   <h2>Answers</h2>
      <input type="text" name="choiceOne" placeholder="Choice One">
      <input type="text" name="choiceTwo" placeholder="Choice Two">
      <input type="text" name="choiceThree" placeholder="Choice Three">
      <input type="text" name="choiceFour" placeholder="Choice Four">
      <input type="submit" value="save">
   </form>
</div>