<div class="container">
  <h1>Survey list</h1>

  <h2>Create a survey</h2>
   <form id="survey" method="post" action="/survey/new">
      <input type="text" name="surveyname" placeholder="Surveyname">
       <input type="submit" value="save">
   </form>
</div>

