<div class="container">
  <h1>Survey list</h1>

  <h2>Surveyname</h2>
   <form id="sdfsdf" method="post" action="/login">
      <input type="text" name="surveyname" placeholder="Surveyname">
       <input type="submit" value="save">
   </form>

   <h2>Question</h2>
   <form id="sdfsdf" method="post" action="/login">
      <input type="text" name="question" placeholder="Question">
      <input type="submit" value="save">
   </form>

   <h2>Answers</h2>
   <form id="sdfsdf" method="post" action="/login">
      <input type="text" name="answer" placeholder="Answer">
      <input type="submit" value="save">
   </form>
  
</div>